<html>
    <body>
        <h1>Hello World</h1>

        <?php if (isset($time)): ?>
            <p>The current date and time is: <?php echo $time ?></p>
        <?php else: ?>
            <p>You did not send a date or time.</p>
        <?php endif ?>
    </body>
</html>
